<!DOCTYPE html>
<html lang="en">
<head>
<title>Page Title</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../css/style.css" type="text/css">
</head>
<body>

<div class="header">
  <h1>{{(index .Pagexml 0).Title}}</h1>
  <p>A <b>responsive</b> website created by me.</p>
</div>

<div class="navbar">
  <a href="/home">Home</a>
{{range .Common.Pages}}
  {{if eq (index $.Pagexml 0).Title .}}
    <a href="{{.}}" class="active">{{.}}</a>
  {{else}}
    <a href="{{.}}">{{.}}</a>
  {{end}}
{{end}}
{{if eq .User.Id -1}}
    <a href="/sign/signin" class="right">signin</a>
{{else}}
    <a href="/sign/signout" class="right">signout</a>
  {{if eq (index .User.Access 0) "admin"}}
    <a href="/admi" class="right" class="active">Admin Tools</a>
  {{end}}
    <a class="right">Hello, {{.User.Name}}{{if eq (index .User.Access 0) "admin"}}({{index .User.Access 0}}){{end}}</a>
  {{if eq (index .User.Access 0) "admin"}}
    <a href="/edit/{{(index $.Pagexml 0).Title}}" class="right">edit</a>
  {{end}}
{{end}}  
</div>

<div class="row">
  <div class="side">
    <h2>About Me</h2>
    <h5>Photo of me:</h5>
    <div class="fakeimg" style="height:200px;">Image</div>
{{range .Common.About}}
    <p>{{.}}</p>
{{end}}
    <h3>More Text</h3>
    <p>Lorem ipsum dolor sit ame.</p>
    <div class="fakeimg" style="height:60px;">Image</div><br>
    <div class="fakeimg" style="height:60px;">Image</div><br>
    <div class="fakeimg" style="height:60px;">Image</div>
  </div>
  <div class="main">
    <h2>{{(index .Pagexml 0).Title}}</h2>
    <h5>Title description, {{(index .Pagexml 0).Date.Format "2006 Jan 02"}}</h5>
    <div class="fakeimg" style="height:200px;">Image</div>
    <div>{{printf "%s" (index .Pagexml 0).Body}}</div>
    <br>
  </div>
</div>
<div class="footer">
  <h2>Footer</h2>
</div>

</body>
</html>
